<div
  class="absolute bg-white border bottom-8 hidden leading-7 max-w-xs ml-8 p-4 right-8 rounded shadow-2xl text-gray-500 z-50 md:leading-8"
  id="cookieBanner"
>
  <p>We use cookies to ensure that we give you the best experience on our website. <a
    class="text-gray-700 underline hover:text-gray-900"
    href="/cookies/"
    target="_blank"
    title="Open our cookie policy on a new window"
  >Click here for more information.</a></p>
  <button
    aria-label="Accept cookie policy"
    class="bg-gray-700 float-right mt-4 px-4 py-2 rounded-xl text-white hover:bg-gray-900"
    id="cookieButton"
    title="Dismiss cookie policy consent banner"
  >Got it</button>
</div>