<footer class="border-gray-100 border-t flex items-center justify-center mt-12 p-4 text-gray-500 w-full">
  <div class="flex-1"></div>

  <small>{{ site.footer | safe }}</small>

  <div class="flex flex-1">
    <a
      aria-label="GitHub repository link"
      class="ml-auto hover:text-gray-600"
      href="{{ site.repository.url }}"
      rel="noopener noreferrer"
      target="_blank"
      title="Open GitHub repository in a new window"
    >
      <img
        alt="GitHub logo"
        class="fill-current"
        inline
        src="/assets/images/github.svg"
      />
    </a>
  </div>
</footer>