<button
  class="absolute bg-gray-700 bottom-16 hidden p-2 right-12 rounded-full text-white hover:bg-gray-900"
  id="scrollTopButton"
  title="Scroll to the top of the article"
>
  <img
    alt="Up arrow"
    class="fill-current"
    inline
    src="/assets/images/arrow-up.svg"
  />
</button>